[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/overvenus/rocksdb.git
	branch = p99/optimization

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/tikv/titan.git
	branch = tikv-7.5
